@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color: rgb(218, 192, 252);
  display: flex;
  flex-direction: column; /* Apila los elementos uno encima del otro */
  min-height: 100vh; /* Establece el alto mínimo para que la página ocupe al menos toda la altura de la ventana del navegador */
  margin: 0;
}
.my-content{
  margin-top: 13%;
  padding: 30px;
}

.header {
  border-radius: 20px;
  position: fixed;
  justify-content: space-between;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  background-color: #73a5fa; /* Cambia el color de fondo según sea necesario */
  padding: 50px 0; /* Ajusta el relleno según sea necesario */
  text-align: center; /* Centra el texto horizontalmente */
}

.logo {
  display:flex;
  justify-content: center; /* Centra horizontalmente los elementos */
}

.logo ul {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0;
  margin-left: 10%;
  color: rgb(70, 79, 35);
}

.logo ul li {
  
  margin-left: 30px; /* Ajusta el espaciado entre los elementos */
  margin-right: 70px;
  
}
.logo .productos {
  display: flex;
  margin-right: 30px;
  align-items: center; /* Centra verticalmente los elementos */
  margin-left: 70px;
}

.logo .productos svg {
  margin-right: 3px; /* Ajusta el margen derecho entre el icono y el texto */
  margin-left: 35px;
}

.productos {
  display: inline-block;
  padding: 6px 0;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  border: 3px solid #ffffff;
  color: #007bff;
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  background-color: #ffffff;
  transition: background-color 0.5s ease;
  width: 80%;
}

.productos:hover {
  background-color: #5899ee;
  color: #fff;
}

.boton-li{
position:relative;
display: inline-block;
padding: 1px 50px;
font-size: 21px;
font-weight: bold;
text-decoration: none;
border: 3px solid #ffffff;
color: #007bff;
background-color: #ffffff;
cursor: pointer;
border-radius: 30px;
transition: background-color 0.5s ease;
}
.boton-li:hover{
  background-color: #5899ee;
  color: #ffffff;
}

.register{
  display: flex;
  position:relative;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 50%;
  margin-top: -20px;

}