@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color: rgb(228, 54, 248);
  display: flex;
  flex-direction: column; /* Apila los elementos uno encima del otro */
  min-height: 100vh; /* Establece el alto mínimo para que la página ocupe al menos toda la altura de la ventana del navegador */
  margin: 0;
}
.my-content{
  margin-top: 13%;
  padding: 30px;
}

.header {
  border-radius: 20px;
  position: fixed;
  justify-content: space-between;
  top: 10px;
  left: 49.5%;
  transform: translateX(-50%);
  width: 50%;
  background-color: #73a5fa; /* Cambia el color de fondo según sea necesario */
  padding: 25px 0; /* Ajusta el relleno según sea necesario */
  text-align: center; /* Centra el texto horizontalmente */
}

.logo {
  display:flex;
  justify-content: center; /* Centra horizontalmente los elementos */
}

.logo ul {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0;
  margin-left: 10%;
  color: rgb(70, 79, 35);
}

.logo ul li {
  
  margin-left: 30px; /* Ajusta el espaciado entre los elementos */
  margin-right: 70px;
  
}
.logo .productos {
  display: flex;
  margin-right: 30px;
  align-items: center; /* Centra verticalmente los elementos */
  margin-left: 70px;
}

.logo .productos svg {
  margin-right: 3px; /* Ajusta el margen derecho entre el icono y el texto */
  margin-left: 35px;
}

.productos {
  display: inline-block;
  padding: 8px 0;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  border: 3px solid #ffffff;
  color: #007bff;
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  background-color: #ffffff;
  transition: background-color 0.5s ease;
  width: 80%;
}

.productos:hover {
  background-color: #5899ee;
  color: #fff;
}

.boton-li{
position:relative;
display: inline-block;
padding: 1px 50px;
font-size: 21px;
font-weight: bold;
text-decoration: none;
border: 3px solid #ffffff;
color: #007bff;
background-color: #ffffff;
cursor: pointer;
border-radius: 30px;
transition: background-color 0.5s ease;
}
.boton-li:hover{
  background-color: #5899ee;
  color: #ffffff;
}

.register{
  display: flex;
  position:relative;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 12px;
  padding: 0 46%;
  margin-top: 0;
}
.input-field{
  width: 120%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #d830e4;
  border-radius: 10px;
  margin-bottom: 8px;
  margin-left: -47px;
  text-align: center;
}
.section-container{
  display: flex;
  justify-content: center;
}
.form-container{
  position: relative;
  width: 35%;
  top: 1px;
}
.blue-box{
  position:absolute;
  top: -18px;
  left: -125px;
  width: 152%;
  height: 100%;
  background-color: #73a5fa;
  border-radius: 20px;
  z-index: -1;
}
.form{
  position: relative;
  z-index: 10;
}
.flex-container{
  display: flex;
  justify-content: center;
  margin-top: 2px;
}
.submit-button{
  background-color: #fff;
  display: inline-block;
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color: #007bff;
  border: 2px solid #ffffff;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.submit-button:hover{
  background-color: #007bff;
  color: #fff;
}
.img-login{
  font-size: 8rem;
  color: #fff;
  border-radius: 90px;
  margin-right: -60%;
}
.bienvenida{
  white-space: nowrap;
  position:static;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 12px;
  padding: 0 44%;
  margin-top: -80px;
  height: 55px;
}